	<style type = "text/css">

	
	
		body {



			
		background-color: #fdb927;
			
		margin-left: 18%;			                  
 		margin-right: 18%;
		border: 5px dotted #006BB6;
		
		padding: 10px 10px 10px 10px;
		
		font-family: sans-serif;
		
			
		}
	


		
		h1{color:006BB6;}
		{text-align: center;}

		h2 {font-family: Helvetica, sans-serif;}
		{font-weight:bold;}
	 	{color:006BB6;}
		{font-style:italic;}
		{text-align: center;}
		
		#header {
			text-align: center;
			border-width: thin;
			border-style: solid;
			border-color: #fdb927;
			width:615px;
		}

		#posts {
			border-width: thin;
			border-style: solid;
			border-color: #fdb927;
			width:615px;
			text-align: center;
		}


</style>
